/* Style sheet for EMPUG Website */

body {
    background-color: whitesmoke;
    font-family: Ubuntu, Arial, sans-serif;
}

h1 {
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
}

h3 {
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: navy;
}

h4 {
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: navy;
}

#footer {
    font-family: Ubuntu, Arial, sans-serif;
    color: gold;
}

.bg-navy {
    background: navy;
}