<!DOCTYPE html>
<!-- "Ummm, I'm gonna need you to go ahead come in tomorrow. So if you could be here around nine that would be
 great, mmm-kay." -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/static/css/style.css?v=1.2" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    {% include 'header.html' %}
</div>
<main class="container">
    {% block content %}{% endblock %}
</main>
{% include 'footer.html' %}
{% block scripts %}{% endblock %}
</body>
</html>
