{% extends "base.html" %}

{% block head %}
    <title>EMPUG Calendar</title>
    <meta charset='utf-8' />
    <link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
    <script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
{% endblock %}


{% block content %}
    <div id='calendar' style="font-family:Arial">
    </div>
{% endblock %}

{% block scripts %}
<style>

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    margin: 10px auto;
    padding: 0 10px;
}

</style>

<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next',
            center: 'title',
            right: 'today'
        },
        defaultDate: Date(),
        editable: false,
        fixedWeekCount: false,
        eventLimit: true,
        events: {
            url: 'data',
            error: function() {
                $('#script-warning').show();
            }
        },
        eventColor: '#378006',
        eventBorderColor: '#010101',
        loading: function(bool) {
            $('#loading').toggle(bool);
        }
    });

});
</script>
{% endblock %}
