<header class="py-3">
    <h1>Eastern Michigan Python Users Group</h1>
</header>
<nav class="py-1 mb-2">
    <a class="link-secondary p-2" href="{{ url_for('home_page') }}">Home</a>
    <a class="link-secondary p-2" href="/calendar">Calendar</a>
</nav>