{% extends "base.html" %}

{% block head %}
    <title>EMPUG - Eastern Michigan Python Users Group</title>
{% endblock %}

{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-navy">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome to the EMPUG!</h1>
            <p class="lead my-3">We represent Python programing language enthusiasts of the greater Detroit and Eastern Michigan area.</p>
            <p>This is an open, free-form group to engage with each other over this versatile and fun programming language.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <p>Have an idea for a topic? Want to learn more about our group?</p>
            <p>EMPUG meets on the 2nd Saturday of each month, from 1:00 to 4:00 pm, at the <a target="_blank" href="
            https://www.i3detroit.org/">i3Detroit</a> Makerspace, in the classroom. Ring the bell when you arrive and someone
            will let you in.</p>
            <hr>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-2 mb-4">Additional Group Resources:</h4>
                    <p><a target="_blank" href="https://www.meetup.com/empugdotorg/">MeetUp</a></p>
                    <p><a target="_blank" href="https://gitlab.com/EMPUG">GitLab</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-2 mb-4">Location:</h4>
                    <h3>
                        1481 Wordsworth St,<br>
                        Ferndale, MI 48220
                    </h3>
                </div>
                <img src="{{ url_for('static', filename='img/map.png') }}" class="card-img-bottom" alt="Map for i3Detroit">
            </div>
        </div>
    </div>

{% endblock %}
